.react-resizable-handle {
	display: block;
	background-color: #37414b;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}

.top-wrapper {
	display: flex;
	height: calc(100vh - 40px) !important;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	border-bottom: 1px solid #39464e;
	padding: 7px 12px;
	font-family: 'sf-mono-regular';
	white-space: pre;
}

.resize-horizontal {
	display: flex;
	flex-direction: row;
}

.react-resizable-handle-s {
	display: flex;
	align-items: center;
	height: 0.2px;
	width: 100%;
	cursor: n-resize;
}

.react-resizable-handle-s::after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	position: absolute;
	top: -4px;
	z-index: 10;
}

.react-resizable-handle-s:-moz-drag-over {
	cursor: row-resize;
}

.react-resizable-handle-e {
	width: 1px;
	height: 100%;
	cursor: e-resize;
	display: flex;
	justify-content: center;
}

.react-resizable-handle-e::after {
	content: '';
	display: block;
	height: 100%;
	width: 10px;
	position: absolute;
	left: -4px;
	z-index: 10;
}

.divider.text {
	color: white;
	font-family: inter-regular !important;
	font-weight: unset !important;
	font-size: 12px;
}

.item > .text {
	font-family: inter-regular;
	font-size: 13px;
}

.dropdown.icon {
	color: white;
}

.preview-wrapper {
	/* height: 55%; */
	/* overflow: hidden; */
	flex-grow: 1;
}

.preview-wrapper iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar {
	height: 100%;
}

.console {
	/* height: calc(200px - 38px); */
	width: 100%;
	overflow: auto;
	height: 45%;
}

.minimize-console {
	height: 34.4px;
	width: 100%;
	cursor: pointer;
}

.console-header-wrapper p {
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 11px;
	font-family: sf-mono-regular;
	word-spacing: -3px;
	font-weight: 100;
}

.console-actions {
	cursor: pointer;
}

.console-actions > p:first-child {
	margin-top: 10px;
}

.console-actions > p:last-child {
	margin-top: unset;
}

.console-actions p:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.console-input {
	caret-color: white;
	color: white;
	padding: 0;
	border: 0;
	background-color: #141619;
	font-family: sf-mono-regular;
	font-size: 11px;
}

.console-input:focus {
	outline: none;
	border: 0;
}

.ace_conent {
	width: 300px !important;
}

.react-draggable-transparent-selection .preview-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}
