.react-resizable-handle {
	display: block;
	background-color: #37414b;
	background-repeat: no-repeat;
	background-position: 50%;
}

.resize-horizontal {
	display: flex;
	flex-direction: row;
}

.react-resizable-handle-s {
	height: 3px;
	width: 100%;
	cursor: row-resize;
	background-color: blue;
}

.react-resizable-handle-e {
	width: 3px;
	height: 100%;
	cursor: col-resize;
	background-color: blue;
}
