/* overwrite some ace editor styles */

.ace_editor.ace_autocomplete {
	width: 350px !important;
	height: 90px !important;
	overflow-y: auto;
}

.ace_editor {
	height: 100% !important;
	width: 100% !important;
	font-family: fira-regular;
	font-size: 12.5px;
}

.divider.text {
	color: white;
	font-family: inter-regular !important;
	font-weight: unset !important;
	font-size: 12px !important;
}
