.header-item {
	height: 35px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	cursor: pointer;
	border-radius: 4px;
	background-color: #3a3e44;
	margin-right: 6px;
	/* border-right: 1px solid #37414b; */
}

.header-item p {
	font-family: ibm-plex-regular;
}

.header-item:first-child {
	margin-left: 12px;
}

.header-item:hover {
	/* border-bottom: 2.5px solid #0066cc; */
	border: 1px solid #fff;
	/* padding-bottom: 3px; */
	transition: all 0.1s;
}

header {
	height: 50px;
	display: flex;
	background-color: #1a1d21;
	align-items: center;
	justify-content: center;
	/* padding-left: 12px; */
	/* border-bottom: 1px solid #37414b; */
	/* border-bottom: 1.5px solid #444c56; */
	/* border-top: 1.5px solid #444c56; */
}

svg#no-war {
	stroke: #6a67ce;
}

svg#no-war path:last-child {
	stroke: gold;
}

.item > .text {
	font-family: inter-regular;
	font-size: 13px;
}

.dropdown.icon {
	color: #cfd0d1;
}
