@font-face {
	font-family: 'hack-bold';
	src: url('./assets/fonts/hack-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'fira-regular';
	src: url('./assets/fonts/FiraCode-Regular.ttf') format('woff2');
}

@font-face {
	font-family: 'hack-regular';
	src: url('./assets/fonts/hack-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'inter-regular';
	src: url('./assets/fonts/Inter-Regular.otf') format('woff2');
}

@font-face {
	font-family: 'ibm-plex-regular';
	src: url('./assets/fonts/ibm-plex-sans-v8-latin-regular.woff2')
		format('woff2');
}

@font-face {
	font-family: 'sf-mono-regular';
	src: url('./assets/fonts/FontsFree-Net-SFMono-Regular.ttf') format('woff2');
}

.ace_editor {
	height: 100% !important;
	width: 100% !important;
	font-family: fira-regular;
}

body {
	padding: 0;
}

#root {
	background-color: #272c35;
}

.vscode-light {
	color: black;
}

.vscode-dark {
	color: black;
}

.vscode-high-contrast {
	color: black;
}

.header-item {
	cursor: pointer;
}

.header-item:hover {
	border-bottom: 2.5px solid #0066cc;
	padding-bottom: 3px;
	transition: all 0.1s;
}
