@font-face {
	font-family: 'hack-bold';
	src: url('./assets/fonts/hack-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'fira-regular';
	src: url('./assets/fonts/FiraCode-Regular.ttf') format('woff2');
}

@font-face {
	font-family: 'hack-regular';
	src: url('./assets/fonts/hack-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'inter-regular';
	src: url('./assets/fonts/Inter-Regular.otf') format('woff2');
}

@font-face {
	font-family: 'ibm-plex-regular';
	src: url('./assets/fonts/ibm-plex-sans-v8-latin-regular.woff2')
		format('woff2');
}

@font-face {
	font-family: 'sf-mono-regular';
	src: url('./assets/fonts/FontsFree-Net-SFMono-Regular.ttf') format('woff2');
}

.ace_editor {
	height: 100% !important;
	width: 100% !important;
	font-family: fira-regular;
}

body {
	background-color: #272c35;
	padding: 0;
}

.CodeMirror {
	height: 100% !important;
	font-family: hack-regular !important;
	width: 100%;
	position: unset;
}

.CodeMirror-line {
	padding: 0;
}

.react-codemirror2 {
	/* width: 90%; */
	height: 90%;
}

.vscode-light {
	color: black;
}

.vscode-dark {
	color: black;
}

.vscode-high-contrast {
	color: black;
}

.cm-content {
	font-family: hack-regular;
}
